@import url("../fonts/style.css");

:root {
  --background: #161616;
  --grey-1: #212121;
  --grey-2: #2c2c2c;
  --grey-3: #373737;
  --grey-4: #2b2b2b;
  --grey-5: #c0c0c0;
  --grey-6: #c9c9c9;
  --black: #000;
  --white: #fff;
  --l-grey: #bebebe;
  --grey: #999999;
  --green: #00ca4e;
  --transition-200: all 200ms ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0 16px 16px;
  background: var(--background);
  font-family: "SF UI Display Light";
}

.hide {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: var(--background);
  z-index: 1;
}

.navbar {
  z-index: 2;
  top: 0px;
  position: fixed;
  width: calc(100% - 32px);
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 0 16px;
  margin: 16px auto;
  border: 1px solid var(--grey-4);
  border-radius: 12px;
  background-color: var(--grey-1);
  box-shadow: 0 0 8px #00000020;
  left: 50%;
  translate: -50%;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

li {
  cursor: pointer;
}

.navbar ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 8px;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}

.navbar ul li a:hover {
  background-color: var(--grey-4);
  box-shadow: 0 0 8px #00000020;
}

.navbar ul li a.active {
  background-color: var(--grey-3);
  box-shadow: 0 0 8px #00000020;
}

.navbar .nav-text {
  width: 0px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  color: var(--white);
}

.navbar #home-text.active {
  width: 42px;
}

.navbar #projects-text.active {
  width: 54px;
}

.navbar #about-text.active {
  width: 40px;
}

.navbar #contact-text.active {
  width: 53px;
}

.cta {
  background-color: var(--grey-3);
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  height: 36px;
  padding-left: 8px;
  padding-right: 12px;
  border-radius: 6px;
  box-shadow: 0px 1px 1px 0px rgba(23, 23, 23, 0.1),
    inset 0px -1px 1px 0px rgba(204, 204, 204, 0.1),
    0px 0px 0px 0.1px rgba(0, 0, 0, 0.16);
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 100%;
  color: var(--white);
  font-family: "SF UI Display Medium";
  text-decoration: none;
  gap: 4px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.cta.secondary {
  background-color: transparent;
  border: 1px solid var(--grey-4);
  width: 115px;
}

.cta.secondary > span {
  width: 69.5px;
}

.cta.third {
  background-color: transparent;
  border: 1px solid var(--grey-3);
}

.cta:hover {
  transform: translateY(2px);
  box-shadow: 0px 0px 1px rgba(23, 23, 23, 0.1);
  transition: all 0.2s ease-in-out;
}

.cta:active {
  transform: translateY(4px);
  background-color: rgba(204, 204, 204, 0.1);
}

.cta.secondary:active {
  background-color: var(--grey-4);
}

.hero {
  max-width: 1024px;
  border: 1px solid var(--grey-4);
  border-radius: 12px;
  background-color: var(--grey-1);
  box-shadow: 0 0 8px #00000020;
  margin: 0 auto;
  margin-top: 96px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero h1 {
  font-size: 36px;
  line-height: 120%;
  color: var(--white);
  font-family: "SF UI Display Bold";
}

.hero-content {
  padding: 32px 32px 0;
  max-width: 100%;
}

.hero p {
  margin-top: 16px;
  font-size: 18px;
  letter-spacing: 0.32px;
  line-height: 170%;
  letter-spacing: 0.3px;
  color: var(--grey-5);
  font-family: "SF UI Display Light";
}

.social-links {
  margin-top: 24px;
  margin-bottom: 48px;
  display: flex;
  gap: 12px;
}

.hero-terminal {
  width: calc(100% - 16px);
  margin: 0 8px 8px;
  background: var(--background);
  border: 1px solid var(--grey-4);
  color: var(--white);
  border-radius: 8px;
  padding: 1.5rem;
  font-family: monospace;
}

.hero-terminal pre {
  font-family: monospace;
  font-size: 14px;
  line-height: 1.7;
}

.terminal-header {
  display: flex;
  margin-bottom: 1rem;
}

.terminal-header .dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.red {
  background-color: #ff605c;
}
.yellow {
  background-color: #ffbd44;
}
.green {
  background-color: #00ca4e;
}

.terminal-body {
  height: 300px;
  overflow-y: auto;
  line-height: 1.7;
}

.terminal-body::-webkit-scrollbar {
  display: none;
}

#terminal-output {
  white-space: pre-wrap;
}

.input-line {
  display: none;
  align-items: center;
}

.input-line span {
  font-size: 14px;
  margin-right: 8.5px;
}

#terminal-input {
  font-size: 14px;
  background: none;
  border: none;
  font-family: monospace;
  line-height: 1.7;
  white-space: pre-wrap;
  outline: none;
  padding-block: 0;
  padding-inline: 0;
}

section {
  width: calc(100% - 16px);
  margin: 0 8px 8px;
  padding: 24px;
  border-radius: 8px;
  background-color: var(--grey-2);
}

section .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

section .row h2 {
  font-size: 18px;
  color: var(--grey-6);
  display: flex;
  align-items: center;
  gap: 8px;
}

section .row .cta {
  font-size: 14px;
  padding-left: 12px;
  padding-right: 8px;
}

section .row .mark {
  width: 6px;
  height: 6px;
  background-color: #979797;
  border-radius: 50%;
  flex-shrink: 0;
  flex-grow: 0;
}

section .project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}

#projects .project-container .project {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--grey-3);
  min-height: 40px;
  width: 100%;
  border: 1px solid #404040;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(23, 23, 23, 0.04),
    0px 1px 1px 0px rgba(23, 23, 23, 0.1),
    inset 0px -1px 1px 0px rgb(66, 66, 66),
    0px 0px 0px 0.1px rgba(0, 0, 0, 0.16);
  padding: 16px;
}

#projects .project-container .project .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#projects .project-container .project .row .project_img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border: 1px solid #424242;
  border-radius: 50%;
  padding: 8px;
  margin-right: 16px;
  --border-bottom-width: 1px;
  --border-color: var(
    --token-352091ef-6efc-4ac5-aac3-588d8ed6d062,
    rgb(240, 240, 240)
  );
  --border-left-width: 1px;
  --border-right-width: 1px;
  --border-style: solid;
  --border-top-width: 1px;
  background-color: var(--grey-2);
  border-radius: 64px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0.8px 0.8px 0px,
    rgba(0, 0, 0, 0.04) 0px 3.2px 6.4px 0px;
  opacity: 1;
}

#projects .project-container .project .row .project-text {
  height: 60.6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#projects .project-container .project .row .project-text .project_title {
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 120%;
  font-family: "SF UI Display Medium";
  color: var(--white);
}

#projects .project-container .project .row .project-text .project_description {
  font-size: 18px;
  letter-spacing: 0.32px;
  line-height: 170%;
  font-family: "SF UI Display Light";
  color: var(--grey-5);
}

.project_description {
  font-size: 14px !important;
}

#projects .project-container .project .project_expand {
  background-color: transparent;
  border: none;
  outline: none;
  height: fit-content;
  display: flex;
}

/*  About */

.section-title {
  font-family: "SF UI Display Medium";
  margin-top: 40px;
  font-size: 36px;
  color: var(--white);
  letter-spacing: 0;
  line-height: 120%;
}

#about > p {
  margin-top: 16px;
  font-size: 18px;
  color: var(--grey-5);
  letter-spacing: 0.32px;
  line-height: 170%;
}

#about .social-links {
  margin-bottom: 24px;
}

.skills p {
  font-size: 16px;
}

.skills > div {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

/* Contact */

#contact form {
  place-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  gap: 12px;
  height: min-content;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 100%;
  margin-top: 32px;
}

#contact form .row {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-flow: row;
  gap: 12px;
  height: min-content;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 100%;
}

#contact form input,
#contact form textarea,
#contact form button {
  padding: 12px;
  background-color: var(--grey-3);
  border-radius: 8px;
  border: 1px solid transparent;
  outline: none;
  font-size: 14px;
  color: var(--white);
  text-overflow: ellipsis;
  width: 100%;
  line-height: 1.2em;
  transition: all 150ms;
  cursor: pointer;
  transition: all 300ms;
}

#contact form input::placeholder,
#contact form textarea::placeholder,
#contact form button::placeholder {
  font-family: "SF UI Display Medium";
  font-size: 14px;
  color: var(--grey-5);
  width: 100%;
  line-height: 1.2em;
}

#contact form textarea {
  min-height: 140px;
}

#contact form textarea::-webkit-scrollbar {
  display: none;
}

#contact form input:focus {
  border: 1px solid var(--grey-5);
}

#contact form button:active {
  background-color: var(--grey-1);
}

#follow .social-links {
  gap: 8px;
  margin: 0;
}

#follow .social-icon {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 40px;
  height: 40px;
  background-color: var(--grey-1);
  border-radius: 80px;
  box-shadow: 0px 1px 1px 0px rgba(23, 23, 23, 0.04),
    0px 0px 0px 0.1px rgba(0, 0, 0, 0.16);
  transition: all 200ms ease-out;
}

#follow .social-icon:hover {
  box-shadow: 0px 1px 1px 0px rgba(23, 23, 23, 0.04),
    0px 0px 0px 4.1px rgba(0, 0, 0, 0.16);
}

footer {
  color: var(--grey-5);
  font-size: 14px;
  text-align: center;
  margin-top: 12px;
}

/* Anims */

@keyframes nav-slide {
  0% {
    opacity: 0;
    transform: translateY(-50px);
    width: 119.77px;
    left: 50%;
    transform: translate(-50%, -100%);
    border: 1px solid #29292900;
    box-shadow: 0 0px 8px #00000000;
  }
  50% {
    width: 119.77px;
    left: 50%;
    transform: translate(-50%, 0%);
    border: 1px solid #292929;
    box-shadow: 0 0px 8px #31313100;
  }
  55% {
    box-shadow: 0 0px 8px #3c3c3c;
  }
  100% {
    opacity: 1;
    width: calc(80%);
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #292929;
    box-shadow: 0 0px 40px #29292900;
  }
}

@media (max-width: 768px) {
  #projects .project-container .project .row .project-text .project_description {
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; 
    line-height: normal;
    font-size: 12px !important;
  }


  #projects .project-container .project .row .project-text .project_title {
    font-size: 16px;
  }
  
}
